body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden; /* Ensures that no content spills out */
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

header h1, header nav {
    display: inline-block;
    vertical-align: middle;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

section img {
    width: 80%;  /* Adjusts to the width of the container */
    height: auto;  /* Maintains the aspect ratio */
    display: block;  /* Removes default inline formatting */
}

.dark {
    background-color: #555;
    color: #fff;
}

.values-container {
    display: flex;
    justify-content: space-around;
}

.value {
    margin: 20px;
    flex: 1;
}

footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer form {
    margin-top: 10px;
}
