body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    box-sizing: border-box;  /* Ensures padding and borders are included in width calculations */
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    width: 100%;
    max-width: 1200px;  /* Ensures container does not grow too wide on large screens */
    margin: auto;
    overflow: hidden;
    position: relative;  /* For positioning absolute elements like full-width images */
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1, header nav {
    display: inline-block;
    vertical-align: middle;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    overflow: hidden;  /* Contains the floated layout */
}

section img.full-width {
    width: 100%;  /* Sets image width to full width of its container */
    max-width: 100vw;  /* Ensures image does not exceed the width of the viewport */
    height: auto;  /* Maintains the aspect ratio of the image */
    position: relative;  /* Keeps image in the normal document flow */
    margin: 0 auto;  /* Centers the image within its section/container */
    display: block;  /* Ensures the image is a block element, avoiding unwanted space below the image */
}


.dark {
    background-color: #555;
    color: #fff;
}

.values-container {
    display: flex;
    justify-content: space-around;
}

.value {
    margin: 20px;
    flex: 1;
}

footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
}

.scrolling-text {
    position: absolute;
    width: 100%;
    height: 30px;
    overflow: hidden;
    background: #333;
}

.scrolling-text p {
    margin: 0;
    line-height: 30px;
    white-space: nowrap;
    display: inline-block;
    min-width: 100%;
    animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

footer form {
    margin-top: 40px;
    z-index: 10;
    position: relative;
}

footer input, footer button {
    padding: 10px;
    margin: 5px;
}
